body {
    background-color: darkslategray;
}

.settingsRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    align-content: center;
}

.mapSettingField{
    font-weight:bold;
    color: white;
    background: darkslategray;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width:200px;
}

.mapSettingText {
    padding: 10px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    line-break: anywhere;
}

.tileInfoField{
    font-weight:bold;
    color: white;
    background: darkslategray;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
}

.tileInfoText {
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    line-break: anywhere;
}

.tileInfoTag{
    font-weight: bold;
    color: white;
    border 1px solid white;
    background-color: grey;
    padding: 1rem;
}

.configureTableCell{
    position: relative;
    padding: 0px;
}

.addTileButton:not(:hover){
   opacity: 0;
 }

.addTileButton:hover{
    opacity: 1;
}

.customDropZone:hover{
    background-color: #326262;
}
.customDropZone:not(:hover){
   background-color: darkslategray;
 }

.fixed-center-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 0px;
    text-align: center;
}

.fixed-center-table  td{
   text-align: center;
}