<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:dialog id="addTileDialog"
              header="Add new tile"
              modal="true"
              widgetVar="addTileDialogWV"
              closeOnEscape="true"
              width="700"
              height="700">
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; align-content: flex-start; justify-content: center; align-items: center;">
            <table style="margin-bottom: 10px;">
                <tbody>
                <tr>
                    <td class="mapSettingField"
                        style="padding: 10px; width: 400px;">
                        <p:outputLabel for="tileName" value="Tile name"
                                       style="width: 200px;"/>
                    </td>
                    <td>
                        <p:inputText id="tileName"
                                     value="#{tileMapMakerBean.newTileName}"
                                     style="width: 200px;"/>
                    </td>
                </tr>
                <tr>
                    <td class="mapSettingField"
                        style="padding: 10px; width: 400px;">
                        <p:outputLabel for="tileWeight" value="Tile Weight"/>
                    </td>
                    <td>
                        <p:inputNumber id="tileWeight"
                                       value="#{tileMapMakerBean.newTileWeight}"
                                       minValue="1"
                                       decimalPlaces="0"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="margin-bottom: 5px;">
                <p:outputLabel value="Upload a new tile image (drag and drop) or "/>
                <p:spacer width="5px"/>
                <p:link value="choose"
                        onclick="PF('uploadImage').show();return false"/>
                <p:spacer width="15px"/>
            </div>
            <p:outputPanel id="customDropZone"
                           class="customDropZone"
                           style="width: 600px; height: 100px; color: white; font-weight: bold; display: flex; flex-wrap: wrap; align-content: center; justify-content: center; align-items: center; text-align: center; border-radius: 5px;">
                <i class="pi pi-upload" style="font-size: 2rem;"/>
            </p:outputPanel>
            <p:fileUpload widgetVar="uploadImage"
                          listener="#{tileMapMakerBean.handleFileUpload}"
                          sizeLimit="100000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
                          dropZone="customDropZone"
                          style="display: none"
                          update="@parent"/>
            <p:outputLabel
                    id="newTileImageAdd"
                    rendered="#{not empty tileMapMakerBean.newTileImage}">
                <p:spacer height="20px"/>
                <table class="fixed-center-table" border="0">
                    <tbody>
                    <tr>
                        <td/>
                        <td>
                            <p:inputText
                                    value="#{tileMapMakerBean.newTileTopSocket}"
                                    style="border: 4px solid #689f38; width: 50px;"/>
                            <p:inputText
                                    value="#{tileMapMakerBean.newTileTopCanConnectTo}"
                                    style="border: 4px solid #9c27b0; width: 100px;"/>
                        </td>
                        <td/>
                    </tr>
                    <tr>
                        <td>
                            <p:inputText
                                    value="#{tileMapMakerBean.newTileLeftSocket}"
                                    style="border: 4px solid #689f38; width: 50px;"/>
                            <p:inputText
                                    value="#{tileMapMakerBean.newTileLeftCanConnectTo}"
                                    style="border: 4px solid #9c27b0; width: 100px; margin-bottom: 5px;"/>
                        </td>
                        <td>
                            <img src="#{tileMapMakerBean.getBase64FromImage()}"
                                 style="width: 200px; height: 200px; display: block;"/>
                        </td>
                        <td>
                            <p:inputText
                                    value="#{tileMapMakerBean.newTileRightSocket}"
                                    style="border: 4px solid #689f38; width: 50px;"/>
                            <p:inputText
                                    value="#{tileMapMakerBean.newTileRightCanConnectTo}"
                                    style="border: 4px solid #9c27b0; width: 100px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td/>
                        <td>
                            <p:inputText
                                    value="#{tileMapMakerBean.newTileBottomSocket}"
                                    style="border: 4px solid #689f38; width: 50px; margin-top: 5px"/>
                            <p:inputText
                                    value="#{tileMapMakerBean.newTileBottomCanConnectTo}"
                                    style="border: 4px solid #9c27b0; width: 100px;"/>
                        </td>
                        <td/>
                    </tr>
                    </tbody>
                </table>
                <p:outputLabel>
                    <div style="display: flex; flex-wrap: wrap; gap: 5px; margin-top: 15px;">
                        <div style="background-color: #689f38; width: 40px; height: 40px;"/>
                        The number in this field will determine the type of socket
                        this edge is.
                        <br/> Enter a single number according to the
                        edge-type
                    </div>
                    <div style="display: flex; flex-wrap: wrap; gap: 5px;">
                        <div style="background-color: #9c27b0; width: 40px; height: 40px;"/>
                        This field corresponds to the types of edges this edge can
                        connect TO.
                        <br/> Enter a comma separated list of edge-types that can
                        connect to this edge.
                    </div>
                </p:outputLabel>
            </p:outputLabel>
            <p:commandButton
                    type="submit"
                    value="Save tile"
                    styleClass="ui-button-success"
                    action="#{tileMapMakerBean.addTileToConfigureMap()}"
                    style="font-weight: bold; width: 200px; margin-top: 20px;"
                    update="mainForm:msg mainForm:tileSetPanel mainForm:configureMapSettings"/>
        </div>
    </p:dialog>
</ui:composition>