<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:dialog id="infoTileDialog"
              header="Tile info"
              modal="true"
              widgetVar="infoTileDialogWV"
              closeOnEscape="true"
              width="700"
              height="600">
        <table>
            <tr>
                <td class="tileInfoField">
                    <p:outputLabel value="Tile name"/>
                </td>
                <td class="tileInfoText">
                    <p:outputLabel value="#{tileMapMakerBean.newTileName}"/>
                </td>
            </tr>
            <tr>
                <td class="tileInfoField">
                    <p:outputLabel value="Tile Weight"/>
                </td>
                <td class="tileInfoText">
                    <p:outputLabel value="#{tileMapMakerBean.newTileWeight}"/>
                </td>
            </tr>
            <tr>
                <td class="tileInfoField">
                    <p:outputLabel value="Top Socket"/>
                </td>
                <td class="tileInfoField">
                    <p:outputLabel value="Right Socket"/>
                </td>
                <td class="tileInfoField">
                    <p:outputLabel value="Bottom Socket"/>
                </td>
                <td class="tileInfoField">
                    <p:outputLabel value="Left Socket"/>
                </td>
            </tr>
            <tr>
                <td class="tileInfoText">
                    <p:outputLabel value="#{tileMapMakerBean.newTileTopSocket}"/>
                </td>
                <td class="tileInfoText">
                    <p:outputLabel value="#{tileMapMakerBean.newTileRightSocket}"/>
                </td>
                <td class="tileInfoText">
                    <p:outputLabel value="#{tileMapMakerBean.newTileBottomSocket}"/>
                </td>
                <td class="tileInfoText">
                    <p:outputLabel value="#{tileMapMakerBean.newTileLeftSocket}"/>
                </td>
            </tr>
            <tr>
                <td class="tileInfoField">
                    <p:outputLabel value="Top connects to"/>
                </td>
                <td class="tileInfoField">
                    <p:outputLabel value="Right connects to"/>
                </td>
                <td class="tileInfoField">
                    <p:outputLabel value="Bottom connects to"/>
                </td>
                <td class="tileInfoField">
                    <p:outputLabel value="Left connects to"/>
                </td>
            </tr>
            <tr>
                <td class="tileInfoText">
                    <p:outputLabel value="#{tileMapMakerBean.newTileTopCanConnectTo}"/>
                </td>
                <td class="tileInfoText">
                    <p:outputLabel value="#{tileMapMakerBean.newTileRightCanConnectTo}"/>
                </td>
                <td class="tileInfoText">
                    <p:outputLabel value="#{tileMapMakerBean.newTileBottomCanConnectTo}"/>
                </td>
                <td class="tileInfoText">
                    <p:outputLabel value="#{tileMapMakerBean.newTileLeftCanConnectTo}"/>
                </td>
            </tr>
        </table>
        <p:outputLabel
                id="newTileImageInfo"
                rendered="#{not empty tileMapMakerBean.newTileImage}">
            <p:spacer height="20px"/>
            <div style="display: flex; justify-content: center;">
                <img src="#{tileMapMakerBean.getBase64FromImage()}"
                     style="width: 300px; height: 300px; display: block;"/>
            </div>
        </p:outputLabel>
    </p:dialog>
</ui:composition>