<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <p:dialog id="showDocumentationDialog"
              header="Documentation"
              modal="true"
              widgetVar="showDocumentationDialogWV"
              closeOnEscape="true"
              width="80vw" height="800px">
        <div>
            <p:media value="#{tileMapMakerBean.documentationPDF}" width="100%" height="800px" player="pdf" cache="false "/>
        </div>
    </p:dialog>
</ui:composition>