<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <title>TileMapMaker</title>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}"/>
        <f:facet name="last">
            <h:outputStylesheet library="css" name="styles.css"/>
            <h:outputScript library="js" name="common.js"/>
        </f:facet>
    </h:head>
    <h:body>
        <h:form id="mainForm" enctype="multipart/form-data">
            <p:growl id="msg" showSummary="true" showDetail="true"/>
            <div class="settingsRow">
                <p:card id="tileSettingsCard">
                    <f:facet name="title">
                        <div style="display: flex; justify-content: space-between;">
                            Tile Settings
                            <div>
                                <p:outputLabel value="v1.1.0"/>
                                <p:linkButton type="button"
                                              icon="pi pi-github"
                                              styleClass="rounded-button ui-button-flat"
                                              href="https://gitlab.com/MTOCHIEV/tilemapmaker"/>
                                <p:commandButton icon="pi pi-file-pdf"
                                                 styleClass="rounded-button ui-button-flat"
                                                 oncomplete="PF('showDocumentationDialogWV').show()"
                                                 update="showDocumentationDialog"/>
                            </div>
                        </div>
                    </f:facet>
                    <p:outputPanel id="configureMapSettings">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <p:commandButton
                                            value="Load default tileset"
                                            styleClass="ui-button-info"
                                            action="#{tileMapMakerBean.loadDefaultTileset()}"
                                            style="font-weight: bold; width: 200px;"
                                            update="setMapSizeButton tileSetPanel configureMapSettings"/>
                                </td>
                                <td>
                                    <p:commandButton
                                            value="Reset tileset"
                                            styleClass="ui-button-secondary"
                                            action="#{tileMapMakerBean.resetConfigureMap()}"
                                            style="font-weight: bold; width: 200px;"
                                            update="@form"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p:commandButton
                                            value="Export tileset"
                                            styleClass="ui-button-success"
                                            ajax="false"
                                            style="font-weight: bold; width: 200px;">
                                        <p:fileDownload value="#{tileMapMakerBean.exportTileSetAsJSON()}"/>
                                    </p:commandButton>
                                </td>
                                <td>
                                    <p:commandButton
                                            value="Import tileset"
                                            styleClass="ui-button-help"
                                            onclick="PF('uploadJSON').show();return false"
                                            style="font-weight: bold; width: 200px;"/>
                                    <p:fileUpload widgetVar="uploadJSON"
                                                  listener="#{tileMapMakerBean.importTileSet}"
                                                  sizeLimit="100000"
                                                  style="display: none"
                                                  auto="true"
                                                  process="@this"
                                                  update="@form"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p:inputText value="#{tileMapMakerBean.tileSetName}"/>
                                </td>
                                <td>
                                    <p:commandButton
                                            value="Save changes"
                                            styleClass="ui-button-warning"
                                            action="#{tileMapMakerBean.convertConfigureMapToTileSet()}"
                                            style="font-weight: bold; width: 200px;"
                                            update="tileSetPanel configureMapSettings"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </p:outputPanel>
                    <p:outputPanel
                            id="tileSetPanel"
                            style="margin-top: 10px; display:flex; flex-wrap: wrap;">
                        <table style="border-collapse: collapse;">
                            <tbody>
                            <ui:repeat value="#{tileMapMakerBean.configureMap}" var="configureMapRow"
                                       varStatus="rowStatus">
                                <tr>
                                    <ui:repeat value="#{configureMapRow}" var="configureMapColumn"
                                               varStatus="columnStatus">
                                        <td class="configureTableCell">
                                            <p:outputPanel
                                                    styleClass="addTileButton"
                                                    rendered="#{not tileMapMakerBean.checkIsTileEmpty(rowStatus.index, columnStatus.index)}"
                                                    style="display: flex; justify-content: center; align-items: center; position: absolute; width: 100px; height: 100px;">
                                                <p:commandButton icon="pi pi-plus"
                                                                 styleClass="ui-button-outlined ui-button-success"
                                                                 action="#{tileMapMakerBean.resetNewTile(rowStatus.index, columnStatus.index)}"
                                                                 oncomplete="PF('addTileDialogWV').show()"
                                                                 update="addTileDialog"/>
                                            </p:outputPanel>
                                            <p:outputPanel
                                                    styleClass="addTileButton"
                                                    rendered="#{tileMapMakerBean.checkIsTileEmpty(rowStatus.index, columnStatus.index)}"
                                                    style="display: flex; justify-content: flex-end; align-items: flex-start; position: absolute; width: 100px; height: 100px;">
                                                <p:commandButton icon="pi pi-info-circle"
                                                                 styleClass="ui-button-warning"
                                                                 style="font-size: 0.1rem;"
                                                                 action="#{tileMapMakerBean.getConfigureMapTileInfo(rowStatus.index, columnStatus.index)}"
                                                                 oncomplete="PF('infoTileDialogWV').show()"
                                                                 update="infoTileDialog"/>
                                                <p:commandButton icon="pi pi-times"
                                                                 styleClass="ui-button-danger"
                                                                 style="font-size: 0.1rem;"
                                                                 action="#{tileMapMakerBean.deleteTileFromConfigureMap(rowStatus.index, columnStatus.index)}"
                                                                 update="mainForm:tileSetPanel"/>
                                            </p:outputPanel>
                                            <img src="#{configureMapColumn.imageBase64}"
                                                 style="width: 100px; height: 100px; display: block;"/>
                                        </td>
                                    </ui:repeat>
                                </tr>
                            </ui:repeat>
                            </tbody>
                        </table>
                        <div style="align-self: center; margin-left: 5px; display: flex; flex-wrap: wrap; width: 45px;">
                            <p:commandButton
                                    disabled="#{tileMapMakerBean.addConfigureMapWidthButtonDisabled}"
                                    action="#{tileMapMakerBean.updateConfigureMapWidth(true)}"
                                    icon="pi pi-arrow-right"
                                    styleClass="ui-button-outlined ui-button-success"
                                    update="tileSettingsCard"/>
                            <p:commandButton
                                    disabled="#{tileMapMakerBean.removeConfigureMapWidthButtonDisabled}"
                                    action="#{tileMapMakerBean.updateConfigureMapWidth(false)}"
                                    icon="pi pi-arrow-left"
                                    styleClass="ui-button-outlined ui-button-danger"
                                    style="margin-top: 5px;"
                                    update="tileSettingsCard"/>
                        </div>
                    </p:outputPanel>
                    <div style="margin: 0 auto; display: block; margin-top: 5px; width: fit-content;">
                        <p:commandButton
                                disabled="#{tileMapMakerBean.addConfigureMapHeightButtonDisabled}"
                                action="#{tileMapMakerBean.updateConfigureMapHeight(true)}"
                                icon="pi pi-arrow-down"
                                styleClass="ui-button-outlined ui-button-success"
                                update="tileSettingsCard"/>
                        <p:commandButton
                                disabled="#{tileMapMakerBean.removeConfigureMapHeightButtonDisabled}"
                                action="#{tileMapMakerBean.updateConfigureMapHeight(false)}"
                                icon="pi pi-arrow-up"
                                styleClass="ui-button-outlined ui-button-danger"
                                style="margin-left: 5px;"
                                update="tileSettingsCard"/>
                    </div>
                </p:card>
                <p:card>
                    <f:facet name="title">
                        Map Settings
                    </f:facet>
                    <table style="border-spacing: 5px;">
                        <tbody>
                        <tr>
                            <td class="mapSettingField">
                                <p:outputLabel for="mapWidth" value="Map Width"/>
                            </td>
                            <td>
                                <p:inputNumber id="mapWidth"
                                               value="#{tileMapMakerBean.mapWidthInTiles}"
                                               minValue="1"
                                               decimalPlaces="0"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="mapSettingField">
                                <p:outputLabel for="mapHeight" value="Map Height"/>
                            </td>
                            <td>
                                <p:inputNumber id="mapHeight"
                                               value="#{tileMapMakerBean.mapHeightInTiles}"
                                               minValue="1"
                                               decimalPlaces="0"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="mapSettingField">
                                <p:outputLabel for="tileSize" value="Tile Size (px)"/>
                            </td>
                            <td>
                                <p:inputNumber id="tileSize"
                                               value="#{tileMapMakerBean.tileSize}"
                                               minValue="1"
                                               decimalPlaces="0"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p:commandButton
                                        id="setMapSizeButton"
                                        disabled="#{tileMapMakerBean.setMapSizeButtonDisabled}"
                                        value="Set Map Size"
                                        styleClass="ui-button-info"
                                        action="#{tileMapMakerBean.setMapSize()}"
                                        update="@all"
                                        style="font-weight: bold;"/>
                            </td>
                            <td>
                                <p:selectBooleanCheckbox value="#{tileMapMakerBean.debugView}" itemLabel="Debug View">
                                    <p:ajax update="msg mapImage" listener="#{tileMapMakerBean.addMessage}"/>
                                </p:selectBooleanCheckbox>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </p:card>
            </div>

            <p:outputPanel id="mapGenerationPanel" style="margin-left: 10px;">
                <p:commandButton
                        id="resetButton"
                        disabled="#{tileMapMakerBean.resetButtonDisabled}"
                        value="Reset"
                        icon="pi pi-refresh"
                        styleClass="ui-button-secondary"
                        action="#{tileMapMakerBean.resetMap()}"
                        style="margin-bottom: 10px; margin-left: 5px;"
                        update="mapGenerationPanel mapImage"/>
                <p:commandButton
                        id="nextStepButton"
                        disabled="#{tileMapMakerBean.nextStepButtonDisabled}"
                        value="Next Step"
                        icon="pi pi-angle-right"
                        styleClass="ui-button-info"
                        action="#{tileMapMakerBean.nextStep()}"
                        style="margin-bottom: 10px; margin-left: 5px;"
                        update="mapGenerationPanel mapImage"/>
                <p:commandButton
                        id="finishMapButton"
                        disabled="#{tileMapMakerBean.finishMapButtonDisabled}"
                        value="Finish Map"
                        icon="pi pi-angle-right"
                        styleClass="ui-button-info"
                        action="#{tileMapMakerBean.finishMap()}"
                        style="margin-bottom: 10px; margin-left: 5px;"
                        update="mapGenerationPanel mapImage"/>
                <p:commandButton
                        id="randomizeMapButton"
                        disabled="#{tileMapMakerBean.randomizeButtonDisabled}"
                        value="Randomize Map"
                        icon="pi pi-arrow-right-arrow-left"
                        styleClass="ui-button-success"
                        action="#{tileMapMakerBean.randomizeMap()}"
                        style="margin-bottom: 10px; margin-left: 5px;"
                        update="mapGenerationPanel mapImage"/>
            </p:outputPanel>
            <p:graphicImage rendered="#{tileMapMakerBean.map != null}"
                            id="mapImage"
                            value="#{mapStreamerBean.convertedMap}"
                            cache="false"
                            stream="false"
                            style="margin-left: 20px; margin-top: 20px;"/>
        </h:form>
        <ui:include src="addTileDialog.xhtml"/>
        <ui:include src="infoTileDialog.xhtml"/>
        <ui:include src="showDocumentationDialog.xhtml"/>
    </h:body>
</html>